<div class="contact p-5 vh-100">
  <h1 class="fs-1 fw-bold text-center">CONATCT SECTION</h1>
  <div class="separator mb-3">
    <span class="line"></span>
    <span class="star">★</span>
    <span class="line"></span>
  </div>

  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 col-12">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">userName </label>
          <input type="email" class="form-control rounded  bg-transparent" id="exampleFormControlInput1" placeholder=" ">
        </div>


        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">userAge  </label>
          <input type="email" class="form-control rounded  bg-transparent" id="exampleFormControlInput1" placeholder="  ">
        </div>



        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">userEmail  </label>
          <input type="email" class="form-control rounded  bg-transparent" id="exampleFormControlInput1" placeholder="  ">
        </div>




        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">userPassword  </label>
          <input type="email" class="form-control rounded  bg-transparent" id="exampleFormControlInput1" placeholder="  ">
        </div>


        <button class=" btn  btn-success">Send Message</button>
      </div>
    </div>
  </div>
