<div class="home vh-100 d-flex justify-content-center align-items-center text-white" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12 text-center mx-auto">
        <img src="./assets/img/avataaars.png" class="w-50 d-block mx-auto" alt="">
        <h1 class="fs-1 fw-bold  mt-4">START FRAMEWORK</h1>
        <div class="separator mt-3 mb-3">
          <span class="line"></span>
          <span class="star">★</span>
          <span class="line"></span>
        </div>

        <p class="fw-bold">Graphic Artist - Web Designer - Illustrator</p>
      </div>
    </div>
  </div>
</div>
