<div class="footer p-5  w-100  text-white  text-center">
  <div class="container-fluid ">
      <div class="row">
        <div class=" col-md-4 col-12">
          <div class="side-one">
              <h2 class="fw-bold">LOCATION</h2>
              <p>2215 John Daniel Drive</p>
              <p>Clark, MO 65243</p>
          </div>
        </div>





        <div class="  col-md-4 col-12">
          <div class="side-two">
              <h2 class="fw-bold">AROUND THE WEB</h2>
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-2">
                    <i class="fa-brands fa-facebook  fs-1 rounded rounded-circle"></i>
                  </div>


                  <div class="col-md-2">
                    <i class="fa-brands fa-youtube  fs-1 rounded rounded-circle"></i>
                  </div>



                  <div class="col-md-2">
                    <i class="fa-brands fa-twitter  fs-1 rounded rounded-circle"></i>
                  </div>



                  <div class="col-md-2">

                    <i class="fa-brands fa-linkedin  fs-1 rounded rounded-circle"></i>
                  </div>
                </div>
              </div>
          </div>
        </div>






        <div class=" col-md-4 col-12">
          <div class="side-three">
              <h2 class="fw-bold">ABOUT FREELANCER</h2>
              <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
          </div>
        </div>
    </div>
  </div>


</div>

<div class="copy-right w-100 h-100">
    <h2 class=" text-center text-white fs-3 fw-bold">Copyright © Your Website 2021</h2>
  </div>
